@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
:root{
    --primary-color--:#E0DFD5;
    --secondary-color--: #040F16;
    --tertairy-color--: #000022;
    --body-color--: #FBF5F3;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family:sans-serif;
}
div.container{
    width: 100%;
    min-height: 100vh;
    background-color: var(--primary-color--);
    display: grid;
    grid-template-columns: 2fr 10fr;
    position: relative;
}
nav{
    height: 100vh;
    background-color: var(--body-color--);
    width: 100%;
    display: flex;
    flex-direction: column;
    position: sticky;
    top: 0;
    width: 200px;
    justify-content: center;
    gap: 40px;
    z-index: 10;
    /* padding: 0 .8rem; */
}
nav ul{
    list-style: none;
    display: grid;
    grid-template-columns: 1fr;
    gap: 3rem;
}
nav ul div{
    display: grid;
    grid-template-columns: 1fr;
    /* gap: 10px; */
}
nav a{
    text-decoration: none;
    font-size: 18px;
    color: var(--secondary-color--);
    display: grid;
    grid-template-columns: 1fr 5fr;
    gap: .4rem;
    font-weight: 500;
    
}
nav li:hover{
    background-color: var(--secondary-color--);
    color: var(--primary-color--);
}
nav li:hover a{
    color: var(--primary-color--);
}
nav li{
    padding: .6rem .3rem;
}
main{
    width: 100%;
    min-height:100vh;
    position: relative;
    padding: .8rem;
    background-color: var(--primary-color--);
}
.overview {
    display: flex;
    justify-content: space-around;
    padding: 20px;
    margin-bottom: 20px;
    gap: 10px;
}

.overview__item {
    text-align: center;
    background-color: #FFFFFF;
    padding: 3rem;
    border-radius: 5px;
    max-width: 300px;
    color: var(--secondary-color--);
}
.overview__item i{
    font-size: 40px;
    display: block;
}
.overview__icon {
    font-size: 2em;
    margin-bottom: 10px;
}

.overview__count {
    font-size: 1.5em;
    font-weight: bold;
}
.home__info{
    display: grid;
    padding: 20px;
    grid-template-columns: 4fr 2fr;
}
.actions a {
    display: block;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    margin-bottom: 10px;
    text-decoration: none;
    margin-right: 10px;
}

.activities {
    background-color: #fff;
    padding: 20px;

    margin-bottom: 20px;
}
.notifications {
    background-color: #FF934F;
    color: var(--secondary-color--);
    padding: 10px 20px;
    margin-bottom: 20px;
    margin-top: 10px;
}
.blog__container {
    max-width: 1200px;
    margin: 20px auto;
    padding: 0 20px;
}

header {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
    margin-bottom: 10px;
    text-align: center;
}

.blog__list {
    list-style: none;
    padding: 0;
}

.blog__item {
    background-color: #fff;
    padding: .4rem ;
    margin-bottom: 5px;
    border-radius: 5px;
}

.blog__title {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
}

.blog__description {
    margin-bottom: 10px;
}

.blog__actions{
    margin: 10px;
    text-align: right;
}
.blog__actions i{
    margin-left: 10px;
    color: #000022;
    font-size: 19px;
    font-weight: 650;
    cursor: pointer;
}
.blog__actions i.delete{
    color: red;
}
.blog__actions a{
    text-decoration: none;
}
.edit i{
    color: green;
}
.view i{
    color: blue;
}
.new-blog__form {
    background-color: #fff;
    padding: 20px;
    margin-top: 20px;
    border-radius: 5px;
}

.new-blog__form input,
.new-blog__form textarea,
.new-blog__form select {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}
.new-blog__form button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
#projects-container{
    display: grid;
    grid-template-columns: repeat(3,300px);
    gap: 20px;
    place-items: center
}
.project-card {
    background-color: #f9f9f9;
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 20px;
    height: 420px;
}

.project-card img {
    width: 100%;
    border-radius: 5px;
    margin-bottom: 10px;
}

.project-card h2 {
    margin-top: 0;
}

.project-card p {
    margin-bottom: 10px;
}

.buttons {
    display: flex;
    justify-content: space-between;
}

.button {
    padding: 5px 10px;
    background-color: var(--secondary-color--);
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

.button:hover {
    background-color: se;
}

.pcard {
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 20px;
    margin-bottom: 20px;
    width: 300px;
    background-color: #f9f9f9;
    height: 250px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.pcard h2 {
    margin-top: 0;
}

.pcard p {
    margin-bottom: 10px;
    margin-top: 20px;
}

.pcard .actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.data{
    font-style: italic;
    color: #222;
}
.pcard .actions a {
    text-decoration: none;
    color: var(--primary-color--);
    cursor: pointer;
    transition: color 0.3s;
}

.pcard .actions a:hover {
    opacity: 0.8;
}

.pcard .actions .delete-btn {
    background-color: #cc0000;
}
