<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/style.css">
    <link
    href="https://cdn.jsdelivr.net/npm/remixicon@4.1.0/fonts/remixicon.css"
    rel="stylesheet"
/>
    <title>Blogs - Dashboard</title>
</head>
<body>
    <div class="container">
       <nav>
        <a href="#">Logoo</a>
        <ul>
            <li><a href="#"><i class="ri-home-line"></i> Home</a></li>
            <li><a href="#"><i class="ri-news-line"></i>Blogs</a></li>
            <li><a href="#"><i class="ri-pass-pending-line"></i> Portofolio</a></li>
            <li><a href="#"><i class="ri-mail-volume-line"></i>Subscribers</a></li>
            <li><a href="#"><i class="ri-mail-line"></i>Send Emails</a></li>
            <li><a href="#"><i class="ri-tools-line"></i>Profile</a></li>
        </ul>
        <i class="ri-menu-line"></i>
       </nav>
        <main>
            <div class="blog__container">
            <h2>Blogs</h2>

            <div class="cards__blog">
                <div class="blog__card">
                        <div class="blog__img">
                            <img src="../assets/Back1.jpg" alt="Blog Image">
                        </div>
                        <div class="blog__content">
                            <h3>Blog Title 1</h3>
                            <p>Blog summary 1</p>
                        </div>
                        <div class="blog__buttons">
                            <a href="#" class="edit"><i class="ri-edit-line"></i></a>
                            <a href="#" class="delete"><i class="ri-delete-bin-line"></i></a>
                            <a href="#" class="view"><i class="ri-eye-line"></i></a>
                        </div>

                </div>
                <div class="blog__card">
                    <div class="blog__img">
                        <img src="../assets/Back1.jpg" alt="Blog Image">
                    </div>
                    <div class="blog__content">
                        <h3>Blog Title 1</h3>
                        <p>Blog summary 1</p>
                    </div>
                    <div class="blog__buttons">
                        <a href="#" class="edit"><i class="ri-edit-line"></i></a>
                        <a href="#" class="delete"><i class="ri-delete-bin-line"></i></a>
                        <a href="#" class="view"><i class="ri-eye-line"></i></a>
                    </div>

            </div>
            <div class="blog__card">
                <div class="blog__img">
                    <img src="../assets/Back1.jpg" alt="Blog Image">
                </div>
                <div class="blog__content">
                    <h3>Blog Title 1</h3>
                    <p>Blog summary 1</p>
                </div>
                <div class="blog__buttons">
                    <a href="#" class="edit"><i class="ri-edit-line"></i></a>
                    <a href="#" class="delete"><i class="ri-delete-bin-line"></i></a>
                    <a href="#" class="view"><i class="ri-eye-line"></i></a>
                </div>

        </div>
        <div class="blog__card">
            <div class="blog__img">
                <img src="../assets/Back1.jpg" alt="Blog Image">
            </div>
            <div class="blog__content">
                <h3>Blog Title 1</h3>
                <p>Blog summary 1</p>
            </div>
            <div class="blog__buttons">
                <a href="#" class="edit"><i class="ri-edit-line"></i></a>
                <a href="#" class="delete"><i class="ri-delete-bin-line"></i></a>
                <a href="#" class="view"><i class="ri-eye-line"></i></a>
            </div>

    </div>
            </div>
            <div>

            </div>
            </div>
            
        </main>
    </div>
  
    <script src="./scripts/scripts.js"></script>
</body>
</html>