<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../styles/style.css" />
    <link
      href="https://cdn.jsdelivr.net/npm/remixicon@4.1.0/fonts/remixicon.css"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="../styles/mails.css" />
    <script src="../scripts/validateuser.js"></script>
    <title>My Projects - My Site</title>
  </head>
  <body>
    <div class="container">
      <nav>
        <a href="../index.html">Logo</a>
        <ul>
          <div>
            <li>
              <a href="../index.html"><i class="ri-home-3-line"></i>Home</a>
            </li>
            <li><a href="../../index.html"><i class="ri-global-fill"></i>Website</a></li>
            <li>
              <a href="./blogs.html"><i class="ri-article-line"></i>Blogs</a>
            </li>
            <li>
              <a href="./portofolio.html"
                ><i class="ri-profile-fill"></i>Portofolio</a
              >
            </li>
            <li>
              <a href="./subscribers.html"
                ><i class="ri-folder-user-line"></i>Users</a
              >
            </li>
            <li>
              <a href="#"><i class="ri-mail-line"></i>Mails</a>
            </li>
          </div>
          <div>
            <li>
              <a href="#"><i class="ri-tools-line"></i>Profile</a>
            </li>
            <li>
              <a href="#"><i class="ri-logout-circle-line"></i>Logout</a>
            </li>
          </div>
        </ul>

        <div class="icons">
          <i class="ri-menu-2-line" id="openNav"></i>
          <i class="ri-close-line" id="closeNav"></i>
        </div>
      </nav>
      <main>
        <header><h1>Mails</h1></header>
        <div id="email-container">
          <div class="email-message">
            <div class="email-icons">
              <a href="#"><i class="ri-eye-line"></i></a>
              <a href="#"><i class="ri-reply-line"></i></a>
              <a href="#"><i class="ri-delete-bin-7-fill"></i></a>
            </div>
            <div class="email-content">
              <div class="email-name">Christian ISHIMWE</div>
              <div class="email-subject">Contract Information</div>
              <div class="email-date">24/05/2024</div>
            </div>
            <div class="email-review">
              <div class="email-header">
                <i class="ri-close-line"></i>
                <p>From: <strong>ISHIMWE CHRISTIAN</strong></p>
                <p>Email: <strong>christianinja3@gmail.com</strong></p>
                <p>Tel: <strong>0788841091</strong></p>
                <p>Date: <strong>24/02/2024</strong></p>
              </div>
              <div class="email-subject">
                <p><strong>Subject: </strong>Contract Information</p>
              </div>
              <div class="email-body">
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                  Quisque quis elit et tortor molestie hendrerit eget eu leo.
                  Suspendisse lorem massa, congue sit amet auctor sed, pharetra
                  sed massa. Aliquam ut purus sit amet neque lacinia luctus.
                  Suspendisse eu mi sit amet libero iaculis malesuada quis
                  tempus augue. Donec efficitur ligula tellus, in elementum
                  augue cursus et. Nunc eu magna lectus. Integer finibus eros at
                  pretium pharetra. Sed quis malesuada sem. Curabitur aliquam
                  lobortis urna nec mattis. Donec ex orci, pellentesque eget
                  lectus egestas, interdum convallis lacus. Fusce luctus blandit
                  malesuada. Sed viverra volutpat neque, nec blandit quam
                  sagittis pulvinar. Maecenas nunc metus, suscipit nec dui quis,
                  sagittis ullamcorper erat.
                </p>
              </div>
              <div class="email-actions">
                <a href="#"><i class="ri-delete-bin-line"></i></a>
                <a href="#"><i class="ri-reply-line"></i></a>
              </div>
            </div>
          </div>

          <div class="email-message">
            <div class="email-icons">
              <a href="#"><i class="ri-eye-line"></i></a>
              <a href="#"><i class="ri-reply-line"></i></a>
              <a href="#"><i class="ri-delete-bin-7-fill"></i></a>
            </div>
            <div class="email-content">
              <div class="email-name">Christian ISHIMWE</div>
              <div class="email-subject">Contract Information</div>
              <div class="email-date">24/05/2024</div>
            </div>
          </div>

          <div class="email-message">
            <div class="email-icons">
              <a href="#"><i class="ri-eye-line"></i></a>
              <a href="#"><i class="ri-reply-line"></i></a>
              <a href="#"><i class="ri-delete-bin-7-fill"></i></a>
            </div>
            <div class="email-content">
              <div class="email-name">Christian ISHIMWE</div>
              <div class="email-subject">Contract Information</div>
              <div class="email-date">24/05/2024</div>
            </div>
          </div>
        </div>
      </main>
    </div>
    <script src="../scripts/Mails.js"></script>
  </body>
</html>
