<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../styles/style.css" />
    <link
      href="https://cdn.jsdelivr.net/npm/remixicon@4.1.0/fonts/remixicon.css"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="../styles/mails.css">
    <title>My Projects - My Site</title>
  </head>
  <body>
    <div class="container">
      <nav>
        <a href="../index.html">Logo</a>
        <ul>
          <div>
            <li>
              <a href="../index.html"><i class="ri-home-3-line"></i>Home</a>
            </li>
            <li>
              <a href="./blogs.html"><i class="ri-article-line"></i>Blogs</a>
            </li>
            <li>
              <a href="#"><i class="ri-profile-fill"></i>Portofolio</a>
            </li>
            <li>
              <a href="./subscribers.html"
                ><i class="ri-folder-user-line"></i>Subscribers</a
              >
            </li>
            <li>
              <a href="#"><i class="ri-mail-line"></i>Mails</a>
            </li>
          </div>
          <div>
            <li>
              <a href="#"><i class="ri-tools-line"></i>Profile</a>
            </li>
            <li>
              <a href="#"><i class="ri-logout-circle-line"></i>Logout</a>
            </li>
          </div>
        </ul>

        <div class="icons">
          <i class="ri-menu-2-line" id="openNav"></i>
          <i class="ri-close-line" id="closeNav"></i>
        </div>
      </nav>
      <main>
        <div id="email-container">

        </div>



      </main>
    </div>
    <script src="../scripts/Mails.js"></script>
    <script src="../scripts/projects.js" defer></script>
    
  </body>
</html>
