@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');   
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{

    font-family: 'Roboto', sans-serif;
    background: linear-gradient(to right, #00100B, #0A593C);
}

header{
    background: linear-gradient(to right, #00100B, #0A593C);
    display: flex;
    place-items: center;
    justify-content: center;
    padding: .8rem 4rem;
    position: sticky;
    top: 0;
}
header nav ul{
    display: flex;
    justify-content: space-between;
    column-gap: 40px;
    list-style: none;
}
.login{
    padding: .4rem 1.2rem;
    background: linear-gradient(to right, #0A593C, #1d591b);
    border-radius: 0 10px 0 10px;
    width: 100px;
    justify-content: center;
    align-items: center;
}
header nav ul a{
    text-decoration: none;
    color: #fff;
}
header nav ul a:hover{
    opacity: 0.8;
}
div#homepage{
    width: 100%;
    height: 88vh;
    display: flex;
    justify-content: space-between;
    place-items: center;
   

}
div#homepage section{
    display: flex;
    width: 100%;
    flex-direction: column;
    place-items: center;
    justify-content: center;
}

div#homepage section p{
    /* background: linear-gradient(to right, #0A593C, #32DD2E); */
    color: #fff;
    text-align: center;
    width: 60%;
    line-height: 1.5;
    padding: .5rem .5rem;
}
div#homepage section a{
    background-color: #32DD2E;
    margin-top: 1.5rem;
    color: #00100B;
    text-decoration: none;
    padding: .5rem 1rem;
    width: 150px;
    display: flex;
    place-items: center;
    justify-content: center;
    border-radius: 0 10px 0 10px;
    font-weight: 600;
}
img{
    width: 300px;
    border-radius: 50%;
    height: 300px;
    object-fit: cover;
    background: linear-gradient(to right, #0A593C, #1d591b);
}
#projects{
    width: 100%;
}
#projects div.container{
    height: 300px;

}
#projects div.container div.img{
    background-color: #fff;
    width: 100px;
}